<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-team_109/blob/main/actividades_del_projecto_team_109.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## José Antonio Mendoza Castro - A01794067
## Miguel Angel Aguilera Rodríguez - A00642541

### **Encuesta Nacional sobre Disponibilidad y Uso de Tecnologías de la Información en los Hogares (ENDUTIH) 2021**

### Base de datos y problema relacionado

La base propuesta es la **ENDUTIH 2021**, de acuerdo con la página del Instituto Nacional de Estadística y Geografía (INEGI): 'tiene como finalidad obtener información sobre la disponibilidad y el uso de las tecnologías de información y comunicaciones en los hogares y su utilización por los individuos de seis años o más en México, para generar información estadística en el tema y apoyar la toma de decisiones en cuestión de políticas públicas'.

En ese sentido la base está relacionada a un problema tanto social como económico, ya que sus datos sirven para el diseño de políticas públicas.

#### 1. Nombre de la base de datos: ENDUTIH 2021

#### 2. Nombre de la organización que la genero: INEGI

#### 3. Enlace para descargar la base de datos: https://www.inegi.org.mx/programas/dutih/2021/#Datos_abiertos

#### 4. Descripción de la base de datos:

La **ENDUTIH** recopila información principalmente del uso de internet, telefonía celular y computadora.

La base de datos se compone de cinco archivos '.csv', los datos están a nivel vivienda, hogar e individuo. La recopilación de información de esta encuesta es probabilístico de acuerdo con la 'Nota técnica' del INEGI.

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [34]:
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_colwidt', 300)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_seq_items', 300)

#### Lectura de los archivos

In [38]:
df_vivienda = pd.read_csv('tr_endutih_vivienda_anual_2021.csv')
df_hogar = pd.read_csv('tr_endutih_hogar_anual_2021.csv')
df_usuario = pd.read_csv('tr_endutih_usuario_anual_2021.csv')
df_usuario2 = pd.read_csv('tr_endutih_usuario2_anual_2021.csv')
df_residente = pd.read_csv('tr_endutih_residente_anual_2021.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (20,29,50,60,70,86,91,100,167,175,186,201,207) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (83) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#### View general de los datos

In [39]:
df_vivienda.head(2)

,UPM,VIV_SEL,P1_1,P1_2,P1_3,P1_4,P1_5_1,P1_5_2,P1_5_3,P2_1,P2_2,P2_3,FAC_VIV,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,ENT
0,100023,1,3,1,1,1,1,1,1,1,1,NaN,174,1,7,U,1,3,1
1,100023,2,3,1,1,1,1,1,1,6,1,NaN,174,1,7,U,1,3,1

In [40]:
df_hogar.head(2)

,UPM,VIV_SEL,HOGAR,P4_1_1,P4_1_2,P4_1_3,P4_1_4,P4_1_5,P4_1_6,P4_1_6_1,P4_1_6_2,P4_2_1,P4_2_2,P4_2_3,P4_3,P4_3A,P4_4,P4_5,P4_6_1,P4_6_2,P4_6_3,P4_6_4,P4_6_5,P4_6_6,P4_6A,P4_7_1,P4_7_2,P4_7_3,P4_7_4,P4_7A,P4_8,P4_8A,P5_1,P5_2_1,P5_2_2,P5_3_1,P5_3_2,P5_4,P5_4A,P5_5,P5_6_1,P5_6_2,P5_6_3,P5_6_4,P5_6_5,P5_7_1,P5_8_1,P5_9_1,P5_10_1,P5_7_2,P5_8_2,P5_9_2,P5_10_2,P5_7_3,P5_8_3,P5_9_3,P5_10_3,P5_7_4,P5_8_4,P5_9_4,P5_10_4,P5_7_5,P5_8_5,P5_9_5,P5_10_5,P5_7_6,P5_8_6,P5_9_6,P5_7_7,P5_8_7,P5_9_7,P5_7_8,P5_8_8,P5_9_8,P5_11_1,P5_11_2,P5_11_3,FAC_HOG,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,ENT
0,100023,1,1,1,2,2,1,2,1,1.0,1.0,2,1,2,NaN,NaN,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,2.0,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,1.0,NaN,2,2,2,2,1,2,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,3.0,3.0,3.0,174,1,7,U,1,3,1
1,100023,2,1,2,2,2,1,2,1,5.0,5.0,2,1,2,NaN,NaN,1,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,2.0,2.0,2.0,NaN,NaN,1,1,1,1,1,2,2.0,NaN,NaN,NaN,1.0,380.0,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,2.0,1.0,1.0,174,1,7,U,1,3,1

In [41]:
df_usuario.head(2)

,UPM,VIV_SEL,HOGAR,NUM_REN,EDAD,P6_1,P6_2_1,P6_2_2,P6_2_3,P6_3,P6_3A,P6_4,P6_5,P6_6_1,P6_6_2,P6_6_3,P6_6_4,P6_6_5,P6_6_6,P6_6_7,P6_6A,P6_7_1,P6_7_2,P6_7_3,P6_7_4,P6_7_5,P6_7_6,P6_7_7,P6_7_8,P6_7A,P6_8_1,P6_8_2,P6_8_3,P6_8_4,P6_8_5,P6_8_6,P6_8_7,P6_8_8,P6_8_9,P6_8_10,P6_8A,P6_9_1,P6_9_2,P6_9_3,P6_9_4,P6_9_5,P6_9_6,P6_9A,P7_1,P7_2,P7_2A,P7_3,P7_4,P7_5_1,P7_5_2,P7_5_3,P7_5_4,P7_5_5,P7_5_6,P7_5_7,P7_5A,P7_6,P7_7_1,P7_7_2,P7_7_3,P7_7_4,P7_7_5,P7_7_6,P7_7_7,P7_7_8,P7_7A,P7_8_1,P7_8_2,P7_8_3,P7_8_4,P7_8_5,P7_8_6,P7_8_7,P7_8_8,P7_8_9,P7_8_10,P7_8A,P7_9_1,P7_9_2,P7_9_3,P7_9_4,P7_9A,P7_10_1,P7_10_2,P7_10_3,P7_10_4,P7_10A,P7_11_1,P7_11_2,P7_11_3,P7_11_4,P7_11_5,P7_11_6,P7_11_7,P7_11_8,P7_11A,P7_12,P7_13,P7_14_1,P7_14_2,P7_14_3,P7_14_4,P7_14_5,P7_14_6,P7_14_7,P7_14_8,P7_14_9,P7_14_10,P7_14_11,P7_14A,P7_15_1,P7_15_2,P7_16_1,P7_16_2,P7_16_3,P7_16_4,P7_16_5,P7_16_6,P7_16_7,P7_16_8,P7_16A,P7_17,P7_18,P7_19,P7_20_1,P7_20_2,P7_20_3,P7_20_4,P7_20_5,P7_20_6,P7_20_7,P7_20_8,P7_20_9,P7_20_10,P7_20A,P7_21,P7_22_1,P7_22_2,P7_22_3,P7_22_4,P7_22_5,P7_22_6,P7_22_7,P7_22_8,P7_22_9,P7_22_10,P7_22_11,P7_22_12,P7_22_13,P7_22_14,P7_22_15,P7_22_16,P7_22_17,P7_22_18,P7_22_19,P7_22A,P7_23,P7_24_1,P7_24_2,P7_24_3,P7_24_4,P7_24_5,P7_24A,P7_25,P7_26_1,P7_26_2,P7_26_3,P7_26_4,P7_26_5,P7_26_6,P7_26A,P7_27,P7_28,P7_28A,P7_29,P7_30_1,P7_30_2,P7_30_3,P7_30_4,P7_30_5,P7_30_6,P7_30A,P7_31_1,P7_31_2,P7_31_3,P7_31_4,P7_31_5,P7_31_6,P7_31_7,P7_31A,P7_32,P7_33_1,P7_33_2,P7_33_3,P7_33_4,P7_33_5,P7_33A,P7_34_1,P7_34_2,P7_34_3,P7_34_4,P7_34_5,P7_34A,P7_35_1,P7_35_2,P7_35_3,P7_35_4,P7_35_5,P7_35A,P7_36,FAC_PER,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,PAREN,SEXO,NIVEL,GRADO,ENT
0,100023,1,1,1,41,1,2.0,1.0,2.0,NaN,NaN,1.0,7.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,1.0,2.0,2.0,2.0,1.0,2.0,NaN,1,NaN,NaN,1.0,10.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,NaN,4.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,NaN,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,NaN,1.0,1.0,1.0,2.0,NaN,1.0,1.0,1.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,3.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,4.0,1.0,1.0,2.0,1.0,1.0,2.0,NaN,1.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173,1,7,U,1,3,1,2,10,2,1
1,100023,2,1,3,23,1,2.0,1.0,2.0,NaN,NaN,2.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,NaN,1.0,2.0,2.0,2.0,1.0,2.0,NaN,1,NaN,NaN,1.0,12.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,NaN,4.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,NaN,1.0,2.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,NaN,2.0,2.0,1.0,2.0,NaN,1.0,1.0,1.0,2.0,NaN,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,NaN,2.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,1.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,1.0,6.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,2.0,2.0,NaN,2.0,1.0,2.0,2.0,2.0,NaN,5.0,1035,1,7,U,1,3,3,2,6,3,1

In [42]:
df_usuario2.head(2)

,UPM,VIV_SEL,HOGAR,NUM_REN,EDAD,P8_1,P8_2,P8_2A,P8_3,P8_4_1,P8_4_2,P8_5_1,P8_5_2,P8_6,P8_7_1,P8_7_2,P8_7_3,P8_8,P8_9,P8_10,P8_11_1,P8_11_2,P8_12_1,P8_12_2,P8_12_3,P8_12_4,P8_12_5,P8_12_6,P8_12_7,P8_12_8,P8_12_9,P8_12A,P8_13,P8_14_1,P8_14_2,P8_15_1,P8_15_2,P8_15_3,P8_15_4,P8_15_5,P8_15_6,P8_15_7,P8_15_8,P8_15_9,P8_15A,P8_16,P8_17,P9_1,P9_2,P9_2A,P9_3_1,P9_3_2,P9_4,P9_4A,P9_5,P9_5A,P9_6,P9_7_1,P9_7_2,P9_7_3,P9_7_4,P9_7_5,P9_7_6,P9_7A,P9_8,P9_9,P9_9A,P9_10,P9_11_1,P9_11_2,P9_11_3,P9_11_4,P9_11_5,P9_11_6,P9_11_7,P9_11_8,P9_11_9,P9_11_10,P9_11_11,P9_11_12,P9_11_13,P9_11_14,P9_11_15,P9_11A,FAC_PER,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,PAREN,SEXO,NIVEL,GRADO,ENT
0,100023,1,1,1,41,1,NaN,NaN,1,2.0,1.0,NaN,1.0,3.0,1.0,2.0,2.0,300.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,NaN,1.0,1.0,1,NaN,NaN,2.0,1.0,1.0,NaN,1.0,NaN,2.0,1.0,2.0,1.0,2.0,2.0,2.0,NaN,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173,1,7,U,1,3,1,2,10,2,1
1,100023,2,1,3,23,1,NaN,NaN,1,2.0,1.0,NaN,1.0,1.0,1.0,2.0,2.0,150.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,NaN,1035,1,7,U,1,3,3,2,6,3,1

In [43]:
df_residente.head(2)

,UPM,VIV_SEL,HOGAR,NUM_REN,PAREN,SEXO,EDAD,DIA,MES,P3_7,NIVEL,GRADO,P3_9_1,P3_9_2,P3_9_3,P3_10,P3_11,P3_12,FAC_HOGAR,UPM_DIS,EST_DIS,DOMINIO,TLOC,ESTRATO,ENT
0,100023,1,1,1,1,2,41,16.0,9.0,2.0,10.0,2.0,1.0,1.0,1.0,1.0,NaN,1.0,174,1,7,U,1,3,1
1,100023,2,1,1,1,1,46,2.0,9.0,2.0,6.0,3.0,2.0,1.0,1.0,7.0,NaN,NaN,174,1,7,U,1,3,1

#### Filas por archivo

In [44]:
print('No. de filas del archivo con datos de vivienda: ', len(df_vivienda))
print('No. de filas del archivo con datos de hogar: ', len(df_hogar))
print('No. de filas del archivo con datos de usuarios: ', len(df_usuario))
print('No. de filas del segundo archivo con datos de usuarios: ', len(df_usuario2))
print('No. de filas del archivo con datos de residentes: ', len(df_residente))

No. de filas del archivo con datos de vivienda:  58281
No. de filas del archivo con datos de hogar:  59285
No. de filas del archivo con datos de usuarios:  59285
No. de filas del segundo archivo con datos de usuarios:  59285
No. de filas del archivo con datos de residentes:  205909

#### Columnas por archivo

In [45]:
print('No. de columnas del archivo con datos de vivienda: ', len(df_vivienda.columns))
print('No. de columnas del archivo con datos de hogar: ', len(df_hogar.columns))
print('No. de columnas del archivo con datos de usuarios: ', len(df_usuario.columns))
print('No. de columnas del segundo archivo con datos de usuarios: ', len(df_usuario2.columns))
print('No. de columnas del archivo con datos de residentes: ', len(df_residente.columns))

No. de columnas del archivo con datos de vivienda:  19
No. de columnas del archivo con datos de hogar:  84
No. de columnas del archivo con datos de usuarios:  226
No. de columnas del segundo archivo con datos de usuarios:  95
No. de columnas del archivo con datos de residentes:  25

#### Missing Values

Sin realizar una revisión exhaustiva los datos de la **Endutih** presentan missing values. Por lo que al trabajar con esta base sería necesario hacer una limpieza de los datos.

In [46]:
df_usuario[df_usuario.columns[:30]].isnull().sum()

UPM            0
VIV_SEL        0
HOGAR          0
NUM_REN        0
EDAD           0
P6_1           0
P6_2_1     38095
P6_2_2     38095
P6_2_3     38095
P6_3       21190
P6_3A      59060
P6_4       38095
P6_5       38095
P6_6_1     38095
P6_6_2     41045
P6_6_3     38095
P6_6_4     38095
P6_6_5     38095
P6_6_6     38095
P6_6_7     38095
P6_6A      59276
P6_7_1     38095
P6_7_2     41045
P6_7_3     38095
P6_7_4     38095
P6_7_5     38095
P6_7_6     38095
P6_7_7     38095
P6_7_8     38095
P6_7A      59279
dtype: int64

#### 5. Preguntas de investigación

1. ¿Cuántos tipos de usuarios se pueden identificar en la **ENDUTIH**?
2. ¿Qué nivel de usabilidad se le da a las tecnologías de la información consideradas en la **ENDUTIH**?
3. ¿Qué tipo de tendecia podemos observar en el uso de las tecnologías de la información entre los distintos grupos de edades y género?
4. ¿Qué determinantes socio-demográficos influyen en el uso de las tecnologías de la información?
5. ¿Qué determinantes socio-demográficos influyen en la disponibilidad de las tecnologías de la información?
6. ¿Qué determinantes socio-económicos influyen en el uso de las tecnologías de la información?
7. ¿Qué determinantes socio-económicos influyen en la disponibilidad de las tecnologías de la información?
8. ¿Qué tipo de características tienen los usarios que tienen menor disponibilidad de las tecnologías de la información?

#### 6. ¿Qué actor estaría interesado en las preguntas de investigación?

Un actor interesado claro en las preguntas de investigación sería el **Instituto Federal de Telecomunicaciones**, ya que es el encargado del diseño de la regulación y de la política de competencia en el mercado de telecomunicaciones en México.

### Requisitos del conjunto de datos

1. La base de datos seleccionada permite la realización de modelos y análisis estadísticos ya que que tiene la longitud y el número de variables para realizar su análisis. Además, posee un diseño de la muestral riguroso el cual es ocupado por el INEGI en todas sus encuestas.

2. La base se compone de cinco archivo que van de cerca de 60 a 200 mil filas.

3. Cada uno de los archivos está en '.csv'.